<footer>
  <div style="position: relative; height: 150px;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <a href="https://github.com/ZakuG" style="text-decoration:none;">
        <h2 style="color: var(--primary-color); vertical-align:middle; "><a>
           <img  width="28" height="28" src="https://static-00.iconduck.com/assets.00/github-icon-1024x1024-vu0m1lvh.png" alt="github" /></a> GitHub Repository
        </h2></a>
        <h3 style="color: var(--primary-color); ">
            Lucas Castro (ZakuG)
        </h3>
    </div>
  </div>
</footer>
